@using Zomato.Global;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <i style="color: red;" class="fas fa-pepper-hot"></i>
                    <i style="color:gold;" class="fas fa-pepper-hot"></i>
                    <i style="color: aqua;" class="fas fa-pepper-hot"></i>
                </div>
                @Html.ActionLink("Zomato", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("All Menu", "Index", "Menus")</li>
                        <li>
                            <a href="@Url.Action("UrCart", "Menus")">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                Cart@*(@Globalvariable.CartCount)*@
                            </a>
                        </li>
                        @if (User.Identity.Name == "mohan1@zomato.com")
                        {
                            <li>@Html.ActionLink("Admin", "AIndex", "Menus")</li>
                        }
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:orangered;font-style:italic" >&copy; @DateTime.Now.Year -ZOmaTo food and Resturant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
